/* Font style */
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  body{
    margin:0px 160px 160px 160px;
  }
  /* nav style */
  nav{
    display: flex;
    justify-content: space-between; 
  }
  nav h3{
    color: #0E0E0E;
  }
.btn-signin{
    color:#006A50;
    border: 1px solid #006A50;
    padding: 15px 20px;
    border-radius: 8px;
    cursor: pointer;
  }
  .btn-signin:hover{
    background-color: #0E0E0E;
    color: white;
  }
  /* Hero-container */
  .hero-container {
    margin-top: 20px;
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    /* padding: 80px 100px; */
    text-align: left; 
    gap: 20px; 
    border-radius: 8px;
  }
  
  .hero-text {
    width: 622px;
    height: auto;
    padding: 117px 60px 117px 60px; 
    box-sizing: border-box; 
  }
  
  .hero-text h2 {
    color: #0E0E0E;
    opacity: 50%;
  }
  
  .hero-text p {
    color: #0E0E0E;
    opacity: 100%;
    font-weight: 700;
    font-size: 35px;
  }
  
  .hero-image img {
    max-width: 100%; 
    height: auto;
    display: block; 
  }
  
  .btn-hero {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 15px 20px;
    cursor: pointer;
    background-color: #006A50;
    color: white;
  }
  /* Pillars of "Bangladesh 2.0" section  */
  .pillar-section{
    margin-top: 80px;
  }
  .pillars-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 20px;
  }
  .pillar-card{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 24px;
  }
  .pillar-card img{
width: 49.66px;
height: 53.09px;
left: 13.34px;
top: 4px;
}
.pillar-card h4{
  color:#0E0E0E;
  opacity: 80%;
  text-align: left;
}
.pillar-card p{
  color:#0E0E0E;
  opacity: 70%;
  text-align: left;
}

  

  